name: ikuuu_checkin

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:   20 18 * * *

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Python
      run: |
        sudo apt update && \
        sudo apt install python3
      
    - name: requirements
      run: |
        pip3 install -r requirements.txt
        
    - name: Checkin
      run: |
        python3 main.py 
      env: 
        EMAIL: ${{ secrets.EMAIL }}
        PASSWORD: ${{ secrets.PASSWORD }}
        DOMAIN: ${{ secrets.DOMAIN }}
        QYWX_CORPID: ${{ secrets.QYWX_CORPID }}
        QYWX_AGENTID: ${{ secrets.QYWX_AGENTID }}
        QYWX_CORPSECRET: ${{ secrets.QYWX_CORPSECRET }}
        QYWX_TOUSER: ${{ secrets.QYWX_TOUSER }}
        QYWX_MEDIA_ID: ${{ secrets.QYWX_MEDIA_ID }}
